---
import About from "../components/en/About.astro";
import Hero from "../components/en/Hero.astro";
import IconsBackground from "../components/IconsBackground.astro";
import Projetos from "../components/en/Projetos.astro";
import Layout from "../layouts/LayoutEN.astro";
---

<Layout title="Kadu Portfolio">
  <main class="pt-16">
    <section
      id="home"
      class="w-full bg-[url(/background.webp)] bg-no-repeat bg-cover bg-center bg-fixed"
    >
      <Hero />
    </section>
    <IconsBackground>
      <section id="about">
        <About />
      </section>
      <section id="projects">
        <Projetos />
      </section>
    </IconsBackground>
  </main>
</Layout>
