---
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Kadu Portfolio">
	<main>	
		<section id="home" class="w-full bg-[url(/background.webp)] bg-no-repeat bg-cover bg-center bg-fixed">
		<Hero />
		</section>
		<section id="about">
		<About />
		</section>
		<section id="projects"></section>
	</main>
</Layout>


<style>

</style>