---

---

<div>
  <div
    class="about-info overflow-hidden w-0 h-0 bg-black/[0.6] border-silver relative rounded-lg grid grid-cols-3"
  >
    <img
      class="hidden-content absolute opacity-0 rounded-full w-24 h-24 border-[3px] border-silver -top-12 left-[50%] translate-x-[-50%]"
      src="./profile.jpg"
      alt="eu"
    />
    <div class="border-r-[3px] my-8 border-silver"></div>
    <div class="flex flex-col gap-10 px-2 py-1 items-center"></div>
    <div class="border-l-[3px] my-8 border-silver flex flex-col gap-6 px-12">
      <h2 class="hidden-content opacity-0 text-3xl font-bold">Tecnologias:</h2>
      <ul class="hidden-content opacity-0 grid grid-cols-2 text-lg gap-y-5">
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/html.png" alt="HTML icon" />
            <span>HTML</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/css.png" alt="CSS icon" />
            <span>CSS</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/js.png" alt="JS icon" />
            <span>Javascript</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img
              class="w-8 h-8 mr-2"
              src="/icons/typescript.png"
              alt="TS icon"
            />
            <span>Typescript</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/node.png" alt="Node icon" />
            <span>Node.js</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img
              class="w-8 h-8 mr-2"
              src="/icons/express.png"
              alt="Express icon"
            />
            <span>Express</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/sass.png" alt="SASS icon" />
            <span>SASS</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img
              class="w-8 h-8 mr-2"
              src="/icons/tailwind.png"
              alt="Tailwind icon"
            />
            <span>Tailwind</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/react.png" alt="React icon" />
            <span>React</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/redux.png" alt="Redux icon" />
            <span>Redux</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/nextjs.png" alt="Next icon" />
            <span>Next</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/vue.png" alt="Vue icon" />
            <span>Vue</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/nuxt.png" alt="Nuxt icon" />
            <span>Nuxt</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/astro.png" alt="Astro icon" />
            <span>Astro</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/mysql.png" alt="Mysql icon" />
            <span>MySQL</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img
              class="w-8 h-8 mr-2"
              src="/icons/mongodb.png"
              alt="MongoDB icon"
            />
            <span>MongoDB</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img class="w-8 h-8 mr-2" src="/icons/git.png" alt="Git icon" />
            <span>Git</span>
          </div>
        </li>
        <li>
          <div class="flex justify-center items-center max-w-fit">
            <img
              class="w-8 h-8 mr-2"
              src="/icons/docker.png"
              alt="Docker icon"
            />
            <span>Docker</span>
          </div>
        </li>
        <!-- <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/js.png" alt="JS" />
          <span>Javascript</span>
        </li>
        <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/typescript.png" alt="TS" />
          <span>Typescript</span>
        </li>
        <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/node.png" alt="Node" />
          <span>Node.js</span>
        </li>
        <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/js.png" alt="JS" />
          <span>Javascript</span>
        </li>
        <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/js.png" alt="JS" />
          <span>Javascript</span>
        </li>
        <li class="flex justify-center items-center">
          <img class="w-5 h-5 mr-2" src="/icons/js.png" alt="JS" />
          <span>Javascript</span>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<style>
  .about-info {
    animation: expand 3s forwards;
  }

  .hidden-content {
    animation: showContent 1s 1s forwards;
  }

  @keyframes expand {
    0% {
      width: 0;
      height: 0;
      border-width: 2px;
    }
    20% {
      border-width: 2px;
      height: 0;
      width: 1200px;
    }
    30% {
      border-width: 2px;
      width: 1200px;
      height: 650px;
    }
    100% {
      overflow: visible;
      border-width: 2px;
      width: 1200px;
      height: 650px;
    }
  }

  @keyframes showContent {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
