---
type Props = {
  imageURL: string;
  gitHubURL: string;
};

const { imageURL, gitHubURL } = Astro.props;
---

<div class="flex flex-col gap-2 bg-black/[0.5]">
  <img class="w-ful h-72" src={`/project_images/${imageURL}.webp`} alt="" />
  <div class="flex flex-col p-2 gap-4 grow">
    <slot />
    <a
      href={gitHubURL}
      target="_blank"
      class="text-sm underline text-gold self-end mt-auto"
      >Ir para repositório no GitHub</a
    >
  </div>
</div>
