---

---

<header class="w-full py-4 border-b-2 border-white">
  <div class="container m-auto">
    <nav class="w-full h-full text-white">
      <ul class="flex w-full h-full justify-between items-center text-2xl">
        <li>
          <a
            class="hover:text-gold focus:text-gold duration-200 outline-none header-item"
            href="#home"
            >Home
            <div class="duration-200"></div>
          </a>
        </li>
        <li>
          <a
            class="hover:text-gold focus:text-gold duration-200 outline-none header-item"
            href="#about"
            >Sobre Mim
            <div class="duration-200"></div>
          </a>
        </li>
        <li>
          <a
            class="hover:text-gold focus:text-gold duration-200 outline-none header-item"
            href="#projects"
            >Projetos
            <div class="duration-200"></div>
          </a>
        </li>
        <li>
          <button
            class="hover:text-gold focus:text-gold duration-200 cursor-pointer outline-none header-item"
          >
            Idioma
            <div class="duration-200"></div>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header-item div {
    width: 0;
    height: 1.2px;
    background-color: rgb(255, 200, 0);
    margin: auto;
  }

  .header-item:hover div {
    width: 100%;
  }

  .header-item:focus div {
    width: 100%;
  }
</style>
