---

---

<div
  class="w-full h-screen flex justify-center items-center bg-black/[0.7] text-white text-5xl"
>
  <h1>
    Procurando um desenvolvedor <strong class="underline text-gold"
      >Full-Stack</strong
    ><span>?</span>
  </h1>
</div>

<style>
  h1 {
    overflow: hidden;
    border-right: 0.1em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    max-width: fit-content;
    animation:
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end 3;
  }

  span {
    animation: blink-qm 1s infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  @keyframes blink-qm {
    from,
    to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
</style>
